/* CSS page */
html {
  background-color: orange;
  font-family: "Bowlby One SC", cursive;
  min-height: 100%;
  position: relative;
}

footer {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 200px;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#site {
  overflow-x: hidden;
}

.canvas {
  background-color: orange;
  font-family: "Bowlby One SC", cursive;
}

header {
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px orangered;
}

.button {
  background-color: orangered;
  font-family: "Bowlby One SC", cursive;
  font-size: 30px;
  border: none;
  color: white;
  padding: 25px 50px;
  text-decoration: none;
  display: inline-block;
  top: 50%;
  margin-top: 50px;
  margin-bottom: 50px;

}

.qds {
  font-size: 25px;
  text-align: center;
}

.question {
  font-size: 25px;
}

.answers {
  font-size: 18px;
}

#estart {
  text-align: center;
}

#content {
  text-size: 30px;
}
